{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'profile.bids.kupione'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header mt_0">
            <h1 class="mt_0">{{ 'profile.bids.kupione'|trans }}</h1>
        </div>

        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>{{ 'main.dzielo'|trans }}</th>
                <th>{{ 'main.kwota'|trans }}</th>
                <th>{{ 'main.data'|trans }}</th>
                <th>{{ 'main.akcja'|trans }}</th>
            </tr>
            {% for bid in pagination %}
                {% set title = bid.work.title %}
                {% set bid = bid %}
                <tr class="offers">
                    <td><a class="dzielo" href="">{{ bid.work.title }}</a>
                    </td>
                    <td>{{ currency.convert(bid.currency.code, app.session.get('_currency'), bid.amount) }} {{ app.session.get('_currency') }}</td>
                    <td>{{ bid.bidDate|date('Y-m-d H:i:s') }}</td>
                    <td>
                            {% if bid.provisionPaid %}
                                {% set seller = bid.work.author %}
                                {{ 'auctions.sprzedajacy'|trans }}:<br/>
                                {{ seller.fullname }}<br/>
                                {{ seller.email }}<br/>
                                {{ seller.phone }}
                            {% else %}
                                <a class="btn btn-success btn-xs"
                                   href="{{ path("user_works_bid_payment", {id: bid.id}) }}">{{ 'main.platnosc'|trans }}</a>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}


        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var dzielo = new Array();
            var prevDzielo = new Array();
            var i = 0;

            $('.offers ').each(function () {
                dzielo[i] = $(this).find('.dzielo').text();
                prevDzielo = dzielo[i - 1];

                if (i > 0 && prevDzielo == dzielo[i]) {
                    $(this).remove();
                    console.log('tak');
                }
                i++;
            });

        });
    </script>
{% endblock %}
