{% extends 'AdminBundle::base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}

    <div class="container-fluid">

        <div class="container-fluid">
            <div class="page-header mt_0">
                <h1 class="mt_0">
                    {{ 'wystawy.do_akceptacji'|trans }}
                </h1>
            </div>
        </div>

        <table class="table table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <th>ID</th>
                <th>{{ 'admin.tytul'|trans }}</th>
                <th>{{ 'admin.opis'|trans }}</th>
                <th>{{ 'main.data_start'|trans({}, 'messages') }}</th>
                <th>{{ 'main.data_koniec'|trans({}, 'messages') }}</th>
                <th>{{ 'admin.grafika'|trans }}</th>
                <th>{{ 'admin.autor'|trans }}</th>
                <th>{{ 'admin.akcja'|trans }}</th>
            </tr>
            {% for exhibition in pagination %}
                <tr>
                    <td>{{ exhibition.id }}</td>
                    <td>{{ exhibition.langs.last.title }}</td>
                    <td>{{ exhibition.langs.last.description }}</td>
                    <td>{{ exhibition.startDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ exhibition.endDate|date('Y-m-d H:i:s') }}</td>
                    <td><img src="{{ asset('files/exhibition/'~exhibition.image) }}" style="max-height: 70px;" alt="{{ exhibition.id }}" /></td>
{#                    <td>#}
{#                        <a href="{{ path("profile", {id: exhibition.author.id, prefix: exhibition.author.profilePrefix, slug: exhibition.author.profileSlug|slugify}) }}">#}
{#                            {{ exhibition.author.fullname ? exhibition.author.fullname : exhibition.author.username }}#}
{#                        </a>#}
{#                    </td>#}
                    <td>
                        <a class="btn btn-xs btn-success" href="{{ path("admin_exhibitions_accept", {id: exhibition.id}) }}">{{ 'aukcje.dziela.akceptuj'|trans }}</a>
                        <a class="btn btn-xs btn-info" href="{{ path("admin_exhibitions_edit", {id: exhibition.id}) }}">{{ 'admin.edytuj'|trans }}</a>
                        <a class="btn btn-xs btn-danger pull-right" href="{{ path("admin_exhibitions_delete", {id: exhibition.id}) }}">{{ 'admin.usun'|trans }}</a>
                    </td>
                </tr>    
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>

{% endblock %}