{% extends 'AdminBundle::base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}

    <div class="container-fluid">

        <div class="page-header mt_0">
            {% if user is defined %}
            <h1 class="mt_0">{{'Edytuj użytkownika'|trans}}: {{ user.username }}</h1>
            {% else %}
                <h1 class="mt_0">{{ 'uzytkownicy.dodaj'|trans }}</h1>
            {% endif %}
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{'Wersje językowe'|trans}}</div>
                    <div class="panel-body">
                        {% for card in form.card %}
                            {{ form_widget(card) }}
                            {% if not loop.last %}<hr />{% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{'Dane użytkownika'|trans}}</div>
                    <div class="panel-body">
                        
                        {% if plainPass is defined %}
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'uzytkownicy.haslo'|trans }}</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="password" value="{{ plainPass }}" />
                                </div>
                            </div>    
                        {% endif %}
                        
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.fullname) }}
                        {{ form_row(form.birthdate) }}
                        {{ form_row(form.deathdate) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.metatitle) }}
                        {{ form_row(form.metatitleEn) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'admin.akcje'|trans }}</div>
                    <div class="panel-body">
                        <input type="submit" class="btn btn-success" value="{{ 'admin.zapisz'|trans }}" />
                        <input type="button" class="btn btn-warning" value="{{ 'admin.anuluj'|trans }}" />
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'Slug'|trans }}</div>
                    <div class="panel-body">
                        {{ form_widget(form.slug) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'admin.grafika'|trans }}</div>
                    <div class="panel-body">
                        {% if user is defined %}
                        <img src="{{ asset('files/user/'~user.image.filename) }}" style="max-width: 100%" />
                        {% endif %}
                        {{ form_row(form.image) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'uzytkownicy.pakiety_dodatkowe'|trans }}</div>
                    <div class="panel-body">
                        {{ form_row(form.annoucement) }}
                        {{ form_row(form.database) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{'Ranga'|trans}}</div>
                    <div class="panel-body">
                        {{ form_row(form.roles) }}
                        {{ form_row(form.roleEnd) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'admin.opcje'|trans }}</div>
                    <div class="panel-body">
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.newsletter) }}
                        {{ form_row(form.pinned) }}
                        {#{{ form_row(form.addWorkCountLimit) }}#}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}