{% extends 'AppBundle::base.html.twig' %}

{% block title %} {{ 'auctions.dodaj_obiekt'|trans }} - {{auction.title}} - {{ parent() }}{% endblock %}

{% block body %}

    {% set title = auction.title %}
    {% set description = auction.description %}
    {% set auction = auction[0] %}

    <div class="container">

        <section id="news" class="stdSection pt_0">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <img src="{{ asset("files/auction/"~auction.image)|imagine_filter('finearts_auction') }}" alt="{{ title }} image" style="max-height: 80px;" />
                    </div>
                    <div class="col-md-6 text-left">
                        <h4 class="mt_0">{{ 'auctions.zglos_obiekt_na_aukcje'|trans }}</h4>
                        <h1 class="small mb_15">{{ title }}</h1>
                        <h4 class="mt_0">{{ auction.startDate|date('Y-m-d H:i:s') }} - {{ auction.endDate|date('Y-m-d H:i:s') }}</h4>
                    </div>
                </div>
            </div>

            {% if not app.user %}
                <div class="alert alert-danger">
                    {{ 'auctions.musisz_byc_zalogowany'|trans }}
                </div>
            {% else %}

                {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ 'add_work.dane'|trans }}</div>
                                <div class="panel-body">

                                    {{ form_row(form.type) }}

                                    <div class="form-group">
                                        {{ form_label(form.creator) }}
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                {{ form_widget(form.creator) }}
                                                </span>
                                                {{ form_widget(form.artist) }}
                                            </div>
                                        </div>
                                    </div>

                                    {{ form_row(form.title) }}
                                    {{ form_row(form.year) }}

                                    <div class="form-group">
                                        {{ form_label(form.technique_type) }}
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                    <span class="input-group-btn">
                                    {{ form_widget(form.technique_type) }}
                                    </span>
                                                {{ form_widget(form.technique) }}
                                            </div>
                                        </div>
                                    </div>

                                    {{ form_row(form.technique) }}
                                    {{ form_row(form.style) }}

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label required">{{ 'auctions.wymiary'|trans }}</label>
                                        <div class="col-sm-10">
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            {{ form_widget(form.dimensions_x) }}
                                                            <span class="input-group-addon" id="sizing-addon2">x</span>
                                                            {{ form_widget(form.dimensions_y) }}
                                                            <span class="input-group-addon" id="sizing-addon2">x</span>
                                                            {{ form_widget(form.dimensions_z) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.dimension_type, {attr: {style: 'width: 70px'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ 'main.opcje'|trans }}</div>
                                <div class="panel-body">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ 'add_work.grafika_glowna'|trans }}</div>
                                <div class="panel-body">
                                    {{ form_row(form.image) }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ 'roles.galeria'|trans }}</div>
                                <div class="panel-body">
                                    <p>{{ 'add_work.wybierz_galeria'|trans }}</p>
                                    <div id="galleryPrototype" data-prototype="{{ form_widget(form.gallery.vars.prototype)|e }}">
                                        {{ form_widget(form.gallery) }}
                                    </div>
                                    <hr />
                                    <button type="button" class="btn btn-xs btn-info" id="add-gallery-photo">{{ 'add_work.dodaj_nowe_zdjecie'|trans }}</button>
                                </div>
                            </div>
                            <div style="visibility: hidden" class="panel panel-default">
                                <div class="panel-heading">{{ 'add_work.cena'|trans }}</div>
                                <div class="panel-body">
                                    {{ form_row(form.priceOnRequest) }}
                                    {{ form_row(form.currency) }}
                                    <div id="priceValue" class="form-group">
                                        <label class="col-sm-2 control-label" for="app_work_edition">{{ 'add_work.cena'|trans }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.price) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}

            {% endif %}

        </section>

    </div> <!-- /container -->

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
{% endblock %}