{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'main_menu.aktualnosci'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    
    <div class="container">
        <section id="filters" class="stdSection">
            <div class="row">
                <div class="col-md-12">
                        {% for news in pagination %}
                    {% if loop.index % 4 == 1 %}
                    <div class="row">
                        {% endif %}
                            {%if loop.index == 1%}
                                {{ include('AppBundle:News:div01.html.twig') }}
                            {%elseif loop.index > 1 and loop.index < 5 %}
                                {{ include('AppBundle:News:div02.html.twig') }}
                            {%else%}
                                {{ include('AppBundle:News:div03.html.twig') }}
                            {%endif%}

                            {% if loop.index is divisible by(4) or loop.last %}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'newses.nie_znaleziono'|trans }}
                            </div>
                        {% endfor %}
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
                    
{#        <div style="text-align: center;">#}
{#        {% if ads[0] is defined and ads[0] %}#}
{#            {{ ads[0].content|raw }}#}
{#        {% endif %}#}
{#        </div>#}
    </div>

{% endblock %}

{% block css %}
    <!-- Owl Carousel Assets -->
    <link href="{{ asset('assets/vendor/owl.carousel/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/owl.carousel/owl-carousel/owl.theme.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/owl.carousel/owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $(".owl-carousel").owlCarousel({
                itemsScaleUp: false,
                navigationText: false,
                navigation: true,
                pagination: false,
                autoPlay: 3000,
                items : 4,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,3],
                autoHeight: true
            });
            {% if app.request.get('_filter') %}
            $('html,body').animate({
                scrollTop: $('section#filters').offset().top - 70
            }, 500);
            {% endif %}
        });
    </script>
{% endblock %}