{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{news.langs.first.title}} - {{ parent() }}{% endblock %}

{% block metatitle %}
    {% if app.request.locale == news.langs.first.lang.shortcut and news.langs.first.metatitle is not empty %}
        <title>{{ news.langs.first.metatitle }}</title>
    {% elseif app.request.locale == news.langs.last.lang.shortcut and news.langs.last.metatitle is not empty %}
        <title>{{ news.langs.last.metatitle }}</title>
    {% else %}
        <title>{% if (app.request.get('_route') in ['homepage']) and app.request.locale == 'pl' %}
                {{ ('head.title' ~ app.request.get('_route')) |trans }}{% elseif (app.request.get('page') == 'galleries')  and app.request.locale == 'pl' %}
                Galeria sztuki współczesnej Warszawa galeria obrazów, malarstwa{% elseif (app.request.get('page') == 'auction-houses')  and app.request.locale == 'pl' %}
                Dom aukcyjny Artbidy - Partnerstwo Domów Aukcyjnych{% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/icaboston')  and app.request.locale == 'pl' %}
                Sztuka współczesna Artbidy sztuka współczesna w dobie Internetu
            {% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/ob') and app.request.locale == 'pl' %}
                Sztuka współczesna, obrazy współczesne Artbidy{% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/mw') and app.request.locale == 'pl' %}
                Malarstwo współczesne Artbidy{% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/mahak') and app.request.locale == 'pl' %}Malarstwo abstrakcyjne Artbidy{% else %}Artbidy{% endif %}</title>

    {% endif %}
{% endblock %}

{% block meta %}
	<meta property="fb:app_id" content="448001615801750" />
	<meta property="og:url" content="{{ app.request.getUri() }}" />  
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{ absolute_url(asset('files/news/'~news.image)) }}" />
    <meta property="og:title" content="{{ news.langs.first.title  }}" />
    <meta property="og:description" content="{{ news.langs.first.smallText|striptags }}" />
{% endblock %}
{% block body %}
    <div class="container">

        <section id="news" class="stdSection text-center pt_0">
            <div class="page-header text-center">
                {% if category %}
                    <h4 class="mt_0 text-center">{{ category.title }}</h4>
                {% endif %}
                <h1 class="small" style="margin-bottom: 15px;">{{ news.langs.first.title }}</h1>
                <div class="addthis_inline_share_toolbox"></div>
            </div>

            <div class="text-left">
                <div class="row">
                    <div class="col-md-10">
                        {% if news.image and news.id != 83  %}
                            <img src="{{ asset('files/news/'~news.image) | imagine_filter('compress') }}" alt="{{ news.id }} image" class="newsImage pull-left" style="width: 100%;" />
                        {% endif %}
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        {{ news.langs.first.smallText|raw }}
                        {{ news.langs.first.text|raw  }}
                    </div>
                    <div class="col-md-2">
                        <h3 class="mt_0">{{ 'exhibition.autor'|trans }}:</h3>
                        <a href="{{ path('profile', {id: news.author.id, prefix: news.author.profilePrefix, slug: news.author.profileSlug|slugify}) }}">
                            <div class="thumbnail">
                                <img src="{{ asset('files/user/'~news.author.image) | imagine_filter('compress') }}" style="max-width: 100%" alt="{{ news.author.fullname ? news.author.fullname : news.author.username }} profile pic">
                                <div class="caption">
                                    <h3 class="mt_0">{{ news.author.fullname ? news.author.fullname : news.author.username }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                {% if news.users is not empty %}
                    <hr />
                    <h3>{{ 'aktualnosci.powiazani'|trans }}:</h3>
                    <div class="row clearfix">
                    {% for user in news.users %}
                        <div class="news small col-md-2">
                            <a href="{{ path('profile', {id: user.id, prefix: user.profilePrefix, slug: user.profileSlug|slugify}) }}">
                                <div class="thumbnail" style="height: 300px;">
                                    <img class="news-imgs" src="{{ asset('files/user/'~user.image) | imagine_filter('compress') }}" style="width: 100%; height: 200px;" alt="{{ user.fullname ? user.fullname : user.username }} profile pic">
                                    <div class="caption">
                                        <h3 class="mt_0">{{ user.fullname ? user.fullname : user.username }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                <div class="clearfix"></div>
            </div>
            <hr />
            <a href="{{ path('newses') }}">{{ 'home.zobacz_wszystkie_aktualnosci'|trans }}</a>
        </section>

    </div> <!-- /container -->

{% endblock %}