{% extends 'AdminBundle::base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}

    <div class="container-fluid">

        <div class="page-header ">
            <h1>{{ 'faktury.wystaw_dla'|trans({'%user%': user.fullname}) }}</h1>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'faktury.produkty'|trans }}</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="70%">Tytuł</th>
                                    <th>Ilość</th>
                                    <th width="20%">Cena netto</th>
                                </tr>
                            </thead>
                            <tbody id="products" data-prototype="{% filter escape %}{{ include('AdminBundle:Invoice:prototype.html.twig', {form: form.products.vars.prototype}) }}{% endfilter %}">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <a href="#" id="addNewProduct" class="btn btn-xs btn-primary">Dodaj nowy produkt</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        {{ form_row(form.products) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'admin.akcje'|trans }}</div>
                    <div class="panel-body">
                        <input type="submit" class="btn btn-success" value="{{ 'faktury.wystaw'|trans }}" />
                        <input type="button" class="btn btn-warning" value="{{ 'admin.anuluj'|trans }}" />
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'faktury.informacje'|trans }}</div>
                    <div class="panel-body">
                        {{ form_row(form.buyer) }}
                        {{ form_row(form.number) }}
                        {{ form_row(form.sellDate) }}
                        <div class="form-group">
                            {{ form_label(form.tax) }}
                            <div class="col-sm-10">
                                <div class="input-group">
                                    {{ form_widget(form.tax) }}
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        {{ form_row(form.currency) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function() {
        var $collectionHolder = $('tbody#products');
        $collectionHolder.data('index', $collectionHolder.find('tr').length);

        $('a#addNewProduct').click(function(e) {
            e.preventDefault();
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            $collectionHolder.append(newForm);
        });
    });
</script>
{% endblock %}