{% extends 'AppBundle::base.html.twig' %}

{% block metatitle %}
    {% if app.request.locale == page.langs.first.lang.shortcut and page.langs.first.metatitle is not empty %}
        <title>{{ page.langs.first.metatitle }}</title>
    {% elseif app.request.locale == page.langs.last.lang.shortcut and page.langs.last.metatitle is not empty %}
        <title>{{ page.langs.last.metatitle }}</title>
    {% else %}
        <title>{% if (app.request.get('_route') in ['homepage']) and app.request.locale == 'pl' %}
                {{ ('head.title' ~ app.request.get('_route')) |trans }}{% elseif (app.request.get('page') == 'galleries')  and app.request.locale == 'pl' %}
                Galeria sztuki współczesnej Warszawa galeria obrazów, malarstwa{% elseif (app.request.get('page') == 'auction-houses')  and app.request.locale == 'pl' %}
                Dom aukcyjny Artbidy - Partnerstwo Domów Aukcyjnych{% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/icaboston')  and app.request.locale == 'pl' %}
                Sztuka współczesna Artbidy sztuka współczesna w dobie Internetu
            {% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/ob') and app.request.locale == 'pl' %}
                Sztuka współczesna, obrazy współczesne Artbidy{% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/mw') and app.request.locale == 'pl' %}
                Malarstwo współczesne Artbidy{% elseif (app.request.getUri() == 'https://pl.artbidy.com/news/mahak') and app.request.locale == 'pl' %}Malarstwo abstrakcyjne Artbidy{% else %}Artbidy{% endif %}</title>

    {% endif %}
{% endblock %}

{% block title %}{{ page.description|trans }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        {% if content %}
            {{ content|raw }}

            {% if page.url == 'private' or
                page.url == 'foundations' or
                page.url == 'library' %}
                <div class="text-center" style="margin-top: 50px;">
                    {% if app.user %}

                        {% if page.url == 'private' %}
                            {% set url = path("user_services_service", {prefix: 'private'}) %}
                        {% elseif page.url == 'foundations' %}
                            {% set url = path("user_services_service", {prefix: 'foundations'}) %}
                        {% else %}
                            {% set url = path("user_services_reports") %}
                        {% endif %}

{#                        {% if prefix is not defined %}#}
                            {% if page.url == 'library' %}
                                <a href="{{ url }}" class="btn btn-fineart">{{ 'main.kup'|trans }}</a>
                            {% endif %}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <a href="{{ path("fos_user_registration_register") }}"#}
{#                           class="btn btn-fineart">{{ 'main_menu.zarejestruj_sie'|trans }}</a>#}
                    {% endif %}

                </div>
            {% endif %}

        {% else %}
            <div class="alert alert-danger">
                {{ 'main.brak_jezyka'|trans }}
            </div>
        {% endif %}

{#        {% if ads[0] is defined and ads[0] %}#}
{#            {{ ads[0].content|raw }}#}
{#        {% endif %}#}

    </div>

{% endblock %}
