
<li class="dropdown change-lang">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.request.locale|upper }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for lang in langs %}
            {% if lang.shortcut != app.request.locale %}
            {#<li><a href="{{ path('change_lang', {lang: lang.shortcut}) }}">{{ lang.shortcut|upper }}</a></li>#}
            {#<li><a href="{{ path(app.request.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": lang.shortcut})) }}">{{ lang.shortcut|upper }}</a></li>#}
            {% endif %}
        {% endfor %}
    </ul>
</li>